<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

        <title class="header">FilmReview</title>

    <link rel="stylesheet" th:href="@{/review.css}">
</head>
<body>
    <div class="container">
        <h1 class="title">Välkommen till FilmReview</h1>
        <div th:each = "reviewpost : ${reviewPostList}">
            <h2 th:text = "${reviewpost.getTitle()}"></h2>
            <p th:text="${reviewpost.getReview()}"></p>
            <hr />
        </div>
    </div>
</body>
</html>